@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
   /* #f4c420
    #180002 */
    background-color: #180002;
    height: 100vh;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
}
.comic{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


  .chakra {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
  }
  .patrick {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .indie {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .acme {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bangers {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  

  .sh{
    box-shadow: 3px 1px 5px #f4c420;
  }
  .slick-slide{
    padding-left: 70px;
  }