@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background-color: #e0e1dd;
    height: 100vh;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
}
.comic{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


  .chakra {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
  }
  .patrick {
    font-family: "Patrick Hand", cursive;
    
    font-style: normal;
  }
  .indie {
    font-family: "Indie Flower", cursive;
    
    font-style: normal;
  }
  .acme {
    font-family: "Acme", sans-serif;
    
    font-style: normal;
  }
  
  .bangers {
    font-family: "Bangers", system-ui;
    
    font-style: normal;
  }

  .marker {
    font-family: "Permanent Marker", cursive;
    
    font-style: normal;
  }

  .space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
  
  
  .slick-list > div {
    margin: 0px 10px;
  }

  .sh{
    box-shadow: 3px 1px 5px #5C946E;
  }
  .slick-arrow, .slick-next{
    
    color: #f4c420;
  }
  .slick-prev:before,
.slick-next:before {
  color: #5C946E!important;
}
.slick-active > div{
  width: 210px;
  

}
.slick-active, .slick-current{
  width: 210px;
}
.sh2{
  
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.sh3{
  box-shadow: #2A2D34 0px 5px 15px;
}
.sh4{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ani:hover{
  animation: first 0.5s linear 0s infinite alternate;
}
@keyframes first{
  50%{ color:#2A2D34}
  100%{ color: #1f2125;}


}
.gr:hover{
  color: #56585c;
}
