@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
   /* #f4c420
    #180002 */
    background-color: #e0e1dd;
    height: 100vh;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
}
.comic{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}


  .chakra {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
  }
  .patrick {
    font-family: "Patrick Hand", cursive;
    
    font-style: normal;
  }
  .indie {
    font-family: "Indie Flower", cursive;
    
    font-style: normal;
  }
  .acme {
    font-family: "Acme", sans-serif;
    
    font-style: normal;
  }
  
  .bangers {
    font-family: "Bangers", system-ui;
    
    font-style: normal;
  }

  .marker {
    font-family: "Permanent Marker", cursive;
    
    font-style: normal;
  }

  .space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
  
  
  

  .sh{
    box-shadow: 3px 1px 5px #5C946E;
  }
  .slick-arrow, .slick-next{
    
    color: #f4c420;
  }
  .slick-prev:before,
.slick-next:before {
  color: #5C946E!important;
}
